@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 42px;
    margin-top: 73px;
    width: 263px;
    height: 190px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .9375em;
    margin-left: 71px;
    margin-top: 100px;
    height: 19px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 86px;
    margin-top: 150px;
    width: 539px;
    height: 389px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.92em;
    margin-left: 145px;
    margin-top: 205px;
    height: 39px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 103px;
    margin-top: 179px;
    width: 645px;
    height: 466px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.3em;
    margin-left: 174px;
    margin-top: 245px;
    height: 47px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    margin-left: 134px;
    margin-top: 234px;
    width: 842px;
    height: 608px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 3em;
    margin-left: 227px;
    margin-top: 320px;
    height: 61px
  }
}